@media screen and (min-width: 768px)
{
    .page-wrapper {
        width: 90%;
    }

    .logo {
        width: 40%;
    }

    nav ul {
        flex-direction: row;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        margin-right: 50px;
    }

    h2 {
        padding-bottom: 0;
        padding-top: 0;
    }

/* cards */

    .green-cards {
        width: 38%;
    }

    .grey-cards {
        width: 38%;
    }

    .container-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .single-card {
        width: 100%;
    }
}

@media screen and (min-width: 1024px)
{
    .page-wrapper {
        width: 95%;
    }
    
    .display-f {
        justify-content: space-between;
        align-items: center;
    }

    nav li {
        margin-right: 40px;
    }

/*sections*/

    p.p-customer {
        width: 70%;
    }

    .contact {
        display: flex;
    }

    .form {
        width: 70%;
    }

    li {
        margin-right: 100px;
    }

/*cards*/

    .cards {
        margin: 2% 1% 0% 1%;
        padding: 2%;
    }

    .container-flex {
        flex-wrap: nowrap;
    }

    div.container.container-flex {
        padding-bottom: 2%;
    }

/*images*/
    
    div.img-flex img {
        width: 49%;
    }

    div.flex-galery img {
        width: 24%;
    }

    .img-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .flex-galery {
        display: flex;
        justify-content: space-between;
    }
}