/*
Author: Florian Brouard;
URI: jardin-thorim.fr;
Thème Name: none;
Descritpion: style form;
Tags: blog, devweb, html, css;
*/

/* généraliste*/

@font-face {
    font-family: 'Alex Brush';
    src: url('fonts/alex-brush/AlexBrush-Regular.ttf') format('truetype');
}

body {
    width: 100%;
    margin: 0;
    background-color: #6aa84f;
    font-family: 'Alex Brush'; 
}

.page-wrapper {
    background-color: white;
    width: 95%;
    max-width: 1280px;
    margin: auto; 
}

.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
    padding: 2px;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: auto;
}

a:hover {
    color: rgba(255, 255, 255, 0.836);
}

h1.container {
    padding: 0.80em 0;
    margin-top: 0;
    margin-bottom: 0;
}

article h3 {
    text-align: center;
    text-transform: uppercase;
}

adress {
    display: block;
    margin: 3% 3%;
}

form {
    margin: 5% 0;
}

footer {
    display: flex;
    justify-content: center;
}

.display-f {
    display: flex;
    justify-content: space-between;
}

.dark-font {
    color: rgb(3, 61, 1);
}

/*images & icones*/

.logo {
    width: 80%;
}

.img-flex {
    width: 100%;
}

article img {
    width: 100%;
}

div img {
    width: 100%;
}

.flex-galery {
    margin-bottom: 3%;
}

.social-menu {
    width: 20%;
}

/*Section*/

header {
    background-color: rgb(3, 61, 1);
    height: 7em;
}

.grey-section {
    background-color: rgb(196, 196, 196);
}

.dark-section {
    background-color: rgb(41, 41, 41);
    color: white;
}

.green-section {
    background-color: #6aa84f;
    color: white;
}

p.center {
    text-align: center;
    padding: 0 20% 3%;
}

p.container {
    padding: 5% 0;
    margin-bottom: 0;
}

.p-customer {
    line-height: 200px;
    width: 55%;
}

.img-customer {
    width: 40%;
}

section.green-section.display-f {
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    text-align: center;
}

p.footer {
    margin-top: 0;
}

/*cards*/

div.container.container-flex {
    padding-bottom: 10%;
}

.cards {
    padding: 5%;
    margin-top: 10%;
    border-radius: 4% 10%;
}

.green-cards {
    background-color: #6aa84f;
    text-align: center;
}

.grey-cards {
    background-color: rgb(196, 196, 196);
}

/*formulaire*/

input {
    width: 100%;
    margin-top: 1%;

}

form div {
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-top: 1%;
}

button {
    width: 100px;
    background-color: #6aa84f;
    color: white;
    padding: 2%;
}

button:hover {
    background-color: #6aa84fd3;
}